RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule .* index.php/$0 [PT,L]

#Setting environtment codeigniter#
SetEnvIf Host localhost$ CI_ENV=development
#SetEnvIf Host test.domain.ltd$ CI_ENV=testing
#SetEnvIf Host www.domain.ltd$ CI_ENV=production

	
###############################
# PROTECT THE .HTACCESS FILES #
###############################
<Files .htaccess>
order allow,deny
allow from all
</Files>
	
####################
# NO INDEX GUGEL #
####################
IndexIgnore *

# Cors
Header always set Access-Control-Allow-Origin "*"
Header always set Access-Control-Allow-Headers "Origin, X-Requested-With, Content-Type, Access-Control-Allow-Origin"
Header always set Access-Control-Allow-Methods "PUT, GET, POST, DELETE, OPTIONS"